/* Optional custom CSS for more specific styles or animations */

/* Custom animation for the homepage image carousel */
.animate-carousel {
    animation: carousel-slide 0s infinite;
}

@keyframes carousel-slide {
    0% { transform: translateX(0%); }
    25% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    100% { transform: translateX(0%); }
}
